<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
    <div class="categories-title"><a class="sidebar-nav-item" href="/categories/all.html">All Recipes</a></div>
<div class="sidebar-item">
    <p>Categories</p>
  </div>
<div class="categories">
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/appetizers">appetizers</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/beef">beef</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/beverages">beverages</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/breakfast">breakfast</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/cake">cake</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/chicken">chicken</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/christmasCookies">christmasCookies</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/cookies">cookies</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/cookiesDone">cookiesDone</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/desserts">desserts</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/dogTreats">dogTreats</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/events">events</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/fish">fish</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/frosting">frosting</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/lamb">lamb</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/pasta">pasta</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/pies">pies</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/pork">pork</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/quickBreads">quickBreads</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/salads">salads</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/sauces">sauces</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/sideDishes">sideDishes</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/soups">soups</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/turkey">turkey</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/vegetableDishes">vegetableDishes</a></div>
<div class="categories-title"><a class="sidebar-nav-item" href="/categories/yeastBreads">yeastBreads</a></div>

</div>
  
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
  
   {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  

    <!--a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span-->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
